/* Background */
window {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font", "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #cdd6f4;
    min-height: 30px;
    padding: 0px 10px;
    margin: 4px;
    border-radius: 8px;
}

button:hover {
    background-color: #313244;
    box-shadow: none;
    border: none;
}